body{
    background-color: greenyellow;
}

footer{
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
}

.icons{
    background-color: rgb(231, 216, 216);
    width: 200px;
    height: 220px;
    display: flex;
    flex-direction: column;
}

.contact{
    background-color: rgb(155, 155, 236);
    width: 200px;
    height: 100px;
}
.sitemap{
    background-color: rgb(195, 243, 227);
    width: 200px;
    height: 220px;
}
.sitemap h2,
.sitemap a{
    display:block
}