<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="about-container">
        <h3 class="header1"> Get to know me</h3>
        <h1 class="header2">In the ever evolving world of technology</h1>
        <p class="description">I'm a passionate software engineer and blogger<br>
          I've always been fascinated by technology and its<br>
          ability to transform the world we live in. <br>
          As a result, I pursued a Bachelor's degree in Computer Applications.
        </p>

        <img class="about-image" src="images/about.jpg">
        <button class="cta-button" onclick="window.open('https://wa.me/+254790034811?text=Hello%20I%27d%20like%20to%20get%20in%20touch', '_blank')">Get in touch</button>


    </div>
    
 
</body>
</html>