<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Projects</title>
    <link rel="stylesheet" href="/css/projects.css" />
  </head>
  <body>
    <section class="projects-container">
      <div class="projects-intro">
        <h1>Here are some of the things I've been working on.</h1>
        <p>
          Here is where I keep track of all the things I've been doing over time
          whether it's client
          projects, or just experiments.
        </p>
      </div>
      
      <% if (projects.length === 0) { %>
      <p class="no-projects">No projects added yet</p>
      <% } else { %> <% projects.forEach(project => { %>
      <div class="project-card">
        <img src="<%= project.image_url %>" alt="project photo" />
        <h2><%= project.title %></h2>
        <p class="description"><%= project.description %></p>
      </div>
      <% }); %> <% } %>
    </section>

    <script src="/js/projects.js"></script>
  </body>
</html>
