* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #0A1D37/*#7657ce*/;
  min-height: 100%vh;
}
a {
  color: white;
}

html {
  font-size: 16px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}
nav li {
  height: 50px;
}
nav li .me{
  font-weight: 70;
}
nav a {
  height: 100%;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
nav a:hover {
  background-color: #00E5FF
}
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 999; /*above everything else*/
  background-color: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}
.sidebar li {
  width: 100%;
}
.sidebar li a img {
  width: 28px;
  height: 28px;
}
.hideMobile {
  display: none;
}
.start-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "linu"
    "paragraph"
    "button";
  justify-content: center;
  padding: 7px;
  gap: 20px;
  align-items: center;
}
#linu-img {
  grid-area: linu;
  width: 100%;
  padding-left: 0;
}
#paragraph {
  grid-area: paragraph;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 550;
  line-height: 1.6;
  color: rgb(234, 240, 234);
}
#button {
  grid-area: button;
  width: 70%;
  border-radius: 35px;
  border: none;
  background-color: #00E5FF;
  padding: 10px;
  color: black;
  font-size: 1rem;
  margin-bottom: 10px;
}
#button:hover {
  background-color: #FFD700;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color:  #0A1D37;/* #a5a1e0; */
}

footer > div {
  width: 60%;
  margin-bottom: 2rem; /* spacing between sections */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* space between links and items */
footer a {
  margin: 0.3rem 0;
  text-decoration: none;
  color: #00E5FF;
  display: block;
}
footer a:hover{
    color: #FFD700;
}

.icons div {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.icons h1{
  color:#ffffff;
}
.icons p{
  color: hsl(0, 0%, 90%);
}
.contact h2{
  color:#ffffff
}
.sitemap h2{
  color:#ffffff;
}


/*bigger screens*/
@media (min-width: 601px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  body {
    background-color: #0A1D37;
  }
  .menu-button{
    display: none;
  }
  .hideMobile{
    display:block;
  }

  .nav-bar {
    height: 90px;
    background-color: aquamarine;
    display: grid;
  }

  .nav-bar ul {
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 2fr 2fr;
    justify-items: center;
    align-items: center;
  }

  .nav-bar ul button {
    border-radius: 35px;
    background-color: transparent;
    border: 3px solid white;
    padding: 10px 20px;
    font-size: 1rem;
  }
  .nav-bar ul button:hover {
    border: solid yellow;
  }

  /*navigation toggle menu*/
  .menu-toggle {
    height: 80%;
    width: 60px;
    background-image: url("images/menu.svg");
  }
  .start-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "paragraph linu"
      "button linu";
    align-items: center;
    justify-items: start;
    padding: 10px;
    margin: 10px;
  }

  #paragraph {
    grid-area: paragraph;
    font-size: x-large;
  }

  #linu {
    grid-area: linu;
    grid-row: span 2;
    height: 100%;
    width: 100%;
  }

  #button {
    grid-area: button;
    align-self: self-start;
    margin: 0;
    border-radius: 35px;
    border: none;
    width: 30%;
    height: 30%;
    padding: 10px;
    background-color: #00E5FF;
  }
  footer {
    background-color: #0A1D37;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .icons {
    width: 32%;
    height: 220px;
    display: flex;
    flex-direction: column;
  }
  .icons h1, h2 {
    color: #ffffff;
  }
  .contact {
    width: 32%;
    height: 100px;
    color: #ffffff;
  }
  .contact a:hover{
    color: #FFD700;
  }
  .sitemap {
    width: 32%;
    height: 220px;
    color: #ffffff;
  }
  .sitemap h2,
  .sitemap a {
    display: block;
  }
  .sitemap a{
    color:#00E5FF;
  }
  .sitemap a:hover{
    color: #FFD700;
  }
}
