*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: #0A1D37;
    min-height: 100%vh;
}
.signup{
    width: 90%;
    background-color: #3e5f8f;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.anchor{
    color: #00E5FF;
    text-decoration-line: none;
}
.anchor:hover{
    color:#FFD700;
}
label, input{
    display:block;
    width: 100%;
}
input{
    height: 30px;
    border-radius: 5px;
    border-style: grey;
}

.signup div{
    display: block;
}
form div {
    margin-top: 1rem;
}
button {
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: white;
    background-color: #00E5FF;
    width: 50%;
    border-radius: 20px;
    border-style: none;
}
button:hover{
    background-color: #FFD700;
}
